<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	<!-- <context:component-scan base-package="com.orga.action"/>  -->
    <bean id="loginAction" class="com.orga.action.LoginAction" scope="prototype"></bean>
    <bean id="changePasswordAction" class="com.orga.action.ChangePasswordAction" scope="prototype"></bean>
    <bean id="userAction" class="com.orga.action.UserAction" scope="prototype"></bean>  
    
    <bean id="schoolAction" class="com.orga.action.SchoolAction" scope="prototype"></bean>
    <bean id="schGroupAction" class="com.orga.action.SchGroupAction" scope="prototype"></bean>
    <bean id="gradeInfoAction" class="com.orga.action.GradeInfoAction" scope="prototype"></bean>
    <bean id="termInfoAction" class="com.orga.action.TermInfoAction" scope="prototype"></bean>
    <bean id="courseInfoAction" class="com.orga.action.CourseInfoAction" scope="prototype"></bean>
    
    <bean id="classInfoAction" class="com.orga.action.ClassInfoAction" scope="prototype"></bean>
    <bean id="teacherAction" class="com.orga.action.TeacherAction" scope="prototype"></bean>
    <bean id="studentAction" class="com.orga.action.StudentAction" scope="prototype"></bean>
    <bean id="parentAction" class="com.orga.action.ParentAction" scope="prototype"></bean>
    
    <bean id="courseScheduleAction" class="com.orga.action.CourseScheduleAction" scope="prototype"></bean>
    <bean id="testInfoAction" class="com.orga.action.TestInfoAction" scope="prototype"></bean>
    <bean id="scoreInfoAction" class="com.orga.action.ScoreInfoAction" scope="prototype"></bean>
    <bean id="assignmentAction" class="com.orga.action.AssignmentAction" scope="prototype"></bean>
    <bean id="newsAction" class="com.orga.action.NewsAction" scope="prototype"></bean>
    <bean id="notifyAction" class="com.orga.action.NotifyAction" scope="prototype"></bean>
    
	<bean id="excelAction" class="com.orga.action.ExcelAction" scope="prototype"></bean>
	<bean id="upgradeAction" class="com.orga.action.UpgradeAction" scope="prototype"></bean>
</beans>
